@font-face {
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/MotterCorpusStd-Regular.otf") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/NunitoSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/NunitoSans-Bold.ttf") format("ttf");
}
* {
  margin: 0;
  padding: 0;
}

.root {
  width: 1440px;
  margin: 0 auto;
  background: #FFFFFF;
}

.header {
  box-sizing: border-box;
  height: 80px;
  padding: 17px 126px 17px 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(9px);
}

.logo {
  margin: 0;
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #0B4141;
  width: 74px;
  text-decoration: none;
}

.logo_footer {
  width: 57px;
  color: #FFCCBC;
}

.navbar {
  width: 382px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  margin: 0;
  display: flex;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #2B744F;
  list-style: none;
}

.nav-list__item {
  margin-right: 24px;
}

.nav-list__item a {
  cursor: pointer;
}

.nav-list__item:last-child {
  margin-right: 48px;
}

.btn {
  border-radius: 124px;
  width: 163px;
  height: 46px;
  cursor: pointer;
}

.btn__download {
  background-color: #0B4141;
  color: #FFCCBC;
  border: none;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, border 300ms ease-in-out;
}

.btn__download:hover {
  box-shadow: 0 0 40px 40px #FFCCBC inset;
  color: #0B4141;
}

.preview {
  height: 873px;
  background-image: url(./img/confettis.png);
  position: relative;
}

.preview__img {
  width: 742px;
  height: 843px;
  position: absolute;
  left: 698px;
  bottom: 0px;
  z-index: 1;
}

.preview__title {
  margin: 0;
  padding-top: 189px;
  width: 747px;
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 128px;
  text-align: center;
  color: #FFCCBC;
}

.preview__title span {
  background: linear-gradient(180deg, #84B39B 55%, #0B4141 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/back1.png);
}

.discover__title {
  margin: 0;
  padding: 0;
  margin-top: 206px;
  width: 928px;
  height: 194px;
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.discover__text {
  width: 747px;
  margin-top: 12px;
  margin-bottom: 228px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.relax {
  height: 800px;
  background-color: #0B4141;
  position: relative;
}

.info {
  width: 479px;
  padding-top: 118px;
  margin-left: 94px;
}

.info__title {
  margin: 0;
  width: 479px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #FFCCBC;
}

.info__text {
  margin: 0;
  margin-top: 32px;
  width: 475px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFCCBC;
}

.info__btn {
  margin-top: 48px;
  border: 2px solid #FFCCBC;
  background-color: #0B4141;
  color: #FFCCBC;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, border 300ms ease-in-out;
}

.info__btn:hover {
  box-shadow: 0 0 40px 40px #FFCCBC inset;
  color: #2B744F;
}

.info__img {
  width: 877px;
  height: 800px;
  position: absolute;
  left: 563px;
  bottom: 0px;
  z-index: 1;
}

.block1 {
  display: flex;
  align-items: center;
  margin-top: 96px;
}

.block1__img {
  margin-left: 138px;
}

.block1__info {
  margin-left: 170px;
}

.block1__info h3 {
  width: 548px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #FFCCBC;
}

.block1__info p {
  width: 464px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #2B744F;
}

.block2 {
  display: flex;
  align-items: center;
  margin-top: 96px;
}

.block2__info {
  margin-right: 192px;
  margin-left: 160px;
}

.block2__info h3 {
  width: 548px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #2B744F;
}

.block2__info p {
  width: 464px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #2B744F;
}

.calm {
  position: relative;
  height: 800px;
}

.calm__img {
  position: absolute;
  bottom: 0;
  left: 114px;
  z-index: 2;
}

.calm__title {
  width: 477px;
  height: 128px;
  font-family: "motter-corpus-std-regular";
  font-size: 128px;
  line-height: 96px;
  color: #FFCCBC;
  display: flex;
  padding-top: 101px;
  margin-bottom: 28px;
  position: relative;
  z-index: 1;
}

.calm h3 {
  margin: 0;
  margin-left: 175px;
}

.calm p {
  margin: 0;
  width: 321px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #2B744F;
  margin-left: 160px;
  margin-bottom: 32px;
}

.calm p:last-child {
  margin-bottom: 219px;
  margin-left: 974px;
}

.reviews {
  height: 1245px;
  background-image: url(./img/back2.png);
  background-repeat: no-repeat;
}

.reviews h3 {
  padding-top: 64px;
  width: 100%;
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #FFFFFF;
}

.table {
  width: 960px;
  margin: 64px auto 0px;
  display: flex;
}

.row1 {
  margin-right: 24px;
}

.row2 {
  margin-right: 24px;
}

.cell {
  width: 304px;
  padding: 20px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.cell__review {
  font-family: "Nunito Sans";
  color: #2B744F;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 16px;
  width: 304px;
}

.cell__author {
  width: 264px;
  display: flex;
  align-items: center;
}

.cell__img {
  margin-right: 12px;
  width: 48px;
  height: 48px;
}

.cell__name {
  width: 204px;
  color: #2B744F;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.cell__name p:first-child {
  font-weight: 700;
}

.download {
  position: relative;
}

.download__img {
  position: absolute;
  bottom: 0;
  left: 536px;
}

.download__description {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin-left: 160px;
  padding-bottom: 93px;
}

.download__icon {
  width: 289px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.download__title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #2B744F;
  width: 483px;
  margin-bottom: 32px;
}

.download__text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #2B744F;
  width: 472px;
  margin-bottom: 48px;
}

.download__btn {
  border-color: #2B744F;
  background-color: #FFFFFF;
  color: #2B744F;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.download__btn:hover {
  box-shadow: 0 0 40px 40px #0B4141 inset;
  color: #FFCCBC;
}

.footer {
  background-color: #0B4141;
  padding: 135px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe h3 {
  width: 1067px;
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #FFCCBC;
  margin-bottom: 46px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 155px;
}

.form__input {
  width: 521px;
  height: 54px;
  border: 2px solid #FFCCBC;
  border-radius: 100px;
  background-color: #0B4141;
  padding: 0px 30px;
  caret-color: #FFCCBC;
  color: #FFCCBC;
}

.form__input:focus {
  outline: 0;
  outline-offset: 0;
}

::placeholder {
  color: #FFCCBC;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.form__btn {
  width: 225px;
  height: 54px;
  background-color: #FFCCBC;
  color: #0B4141;
  margin-left: 45px;
  border: none;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, border 300ms ease-in-out;
}

.form__btn:hover {
  box-shadow: 0 0 40px 40px #0B4141 inset;
  color: #FFCCBC;
  border: 2px solid #FFCCBC;
}

.navbar_footer {
  width: 1120px;
  margin: 0px auto 80px;
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
}

.social p {
  margin-left: 30px;
  width: 120px;
  color: #FFCCBC;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 96px;
}

.social a {
  margin-right: 9px;
}

.social a:last-child {
  margin-right: 0px;
}

/*# sourceMappingURL=index.css.map */
