@font-face {
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/MotterCorpusStd-Regular.otf") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/NunitoSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/NunitoSans-Bold.ttf") format("ttf");
}
.root {
  width: 1440px;
  margin: 0 auto;
  background: #FFFFFF;
  box-sizing: border-box;
}

.header {
  box-sizing: border-box;
  height: 80px;
  padding: 17px 126px 17px 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(9px);
}

.logo {
  margin: 0;
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2B744F;
  width: 74px;
  cursor: pointer;
}

.navbar {
  width: 382px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  margin: 0;
  display: flex;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #2B744F;
  list-style: none;
}

.nav-list__item {
  margin-right: 24px;
}

.nav-list__item a {
  cursor: pointer;
}

.nav-list__item:last-child {
  margin-right: 48px;
}

.btn {
  border-radius: 124px;
  width: 163px;
  height: 46px;
  cursor: pointer;
}

.btn__download {
  background-color: #2B744F;
  color: #FFCCBC;
  border: none;
}

.preview {
  height: 873px;
  background-image: url(./img/confettis.png);
  position: relative;
}

.preview__img {
  width: 742px;
  height: 843px;
  position: absolute;
  left: 698px;
  bottom: 0px;
  z-index: 1;
}

.preview__title {
  margin: 0;
  padding-top: 189px;
  width: 747px;
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 128px;
  text-align: center;
  color: #FFCCBC;
}

.preview__title span {
  background: linear-gradient(180deg, #84B39B 55%, #2B744F 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/back1.png);
}

.discover__title {
  margin: 0;
  padding: 0;
  margin-top: 206px;
  width: 928px;
  height: 194px;
  font-family: "motter-corpus-std-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.discover__text {
  width: 747px;
  margin-top: 12px;
  margin-bottom: 228px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.relax {
  height: 800px;
  background-color: #2B744F;
  position: relative;
}

.info {
  width: 479px;
  padding-top: 118px;
  margin-left: 94px;
}

.info__title {
  margin: 0;
  width: 479px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #FFCCBC;
}

.info__text {
  margin: 0;
  margin-top: 32px;
  width: 475px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFCCBC;
}

.info__btn {
  margin-top: 48px;
  border: 2px solid #FFCCBC;
  background-color: #2B744F;
  color: #FFCCBC;
}

.info__img {
  width: 877px;
  height: 800px;
  position: absolute;
  left: 563px;
  bottom: 0px;
  z-index: 1;
}

.block1 {
  display: flex;
  align-items: center;
  margin-top: 96px;
}

.block1__img {
  margin-left: 138px;
}

.block1__info {
  margin-left: 170px;
}

.block1__info h3 {
  width: 548px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #FFCCBC;
}

.block1__info p {
  width: 464px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #2B744F;
}

.block2 {
  display: flex;
  align-items: center;
  margin-top: 96px;
}

.block2__info {
  margin-right: 192px;
  margin-left: 160px;
}

.block2__info h3 {
  width: 548px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  color: #2B744F;
}

.block2__info p {
  width: 464px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #2B744F;
}

/*# sourceMappingURL=index.css.map */
